.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.811);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .overlay .popup {
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    animation: zoom-in 0.5s ease;
  }
  
  @keyframes zoom-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .overlay .close {
    position: relative;
    display: flex;
    float: right;
    background: none;
    border: none;
    animation: zoom-in 0.5s ease;
  }
  
  .close-btn-crt {
    font-size: 30px;
    margin-left: 95%;
    color: red;
    box-shadow: rgba(244, 240, 240, 0.795) 0px 5px 15px;
    cursor: pointer;
  }
.create-btn{
    width: 20%;
    height: 30px;
    margin-left: 40%;
    margin-top: 5%;
    border: 2px solid green;
    border-radius: 5px;
}
  
  .popup__content h2 {
    text-align: center;
    padding-top: 20px;
    font-family: arial;
    color: rgb(3, 4, 35);
  }
  .popup .popup__content form .create-input1{
    width: 80%;
    height: 35px;
    margin: 5% 0 0 10%;
    border: 0px;
    outline: 0px;
    border-bottom: 2px solid green; 

  }